# Date and Time Data Types and Tools

In [89]:
import datetime

In [11]:
now = datetime.now()

In [13]:
now.date()

datetime.date(2025, 5, 30)

In [14]:
now.time()

datetime.time(17, 36, 24, 203720)

In [15]:
now.year

2025

In [16]:
now.month

5

In [17]:
now.day

30

In [18]:
now.hour

17

In [19]:
now.minute

36

In [20]:
now.second

24

In [21]:
now.microsecond

203720

# timedelta 
represents the temporal difference between two datetime objects

In [24]:
datetime(2011, 7 , 24)

datetime.datetime(2011, 7, 24, 0, 0)

In [28]:
delta = datetime(2011, 1, 7) - datetime(2008, 6, 2)
delta

datetime.timedelta(days=949)

In [29]:
from datetime import timedelta

In [31]:
start = datetime(2025, 5, 30)

In [32]:
start + timedelta(45)

datetime.datetime(2025, 7, 14, 0, 0)

In [33]:
stamp = datetime(2011, 1, 3)

In [34]:
stamp

datetime.datetime(2011, 1, 3, 0, 0)

In [36]:
str(stamp)

'2011-01-03 00:00:00'

In [37]:
stamp.strftime('%Y-%m-%d')

'2011-01-03'

In [42]:
stamp.strftime('%y/%m/%d')

'11/01/03'

In [43]:
value = '2011-01-03'

In [44]:
datetime.strptime(value, '%Y-%m-%d')

datetime.datetime(2011, 1, 3, 0, 0)

In [55]:
datestrs = ['7/6/2011', '8/06/2011']

In [56]:
[datetime.strptime(x, '%m/%d/%Y') for x in datestrs]

[datetime.datetime(2011, 7, 6, 0, 0), datetime.datetime(2011, 8, 6, 0, 0)]

In [57]:
dates = [datetime(2011, 1, 2), datetime(2011, 1, 5),datetime(2011, 1, 7), datetime(2011, 1, 8),datetime(2011, 1, 10), datetime(2011, 1, 12)]

In [58]:
dates

[datetime.datetime(2011, 1, 2, 0, 0),
 datetime.datetime(2011, 1, 5, 0, 0),
 datetime.datetime(2011, 1, 7, 0, 0),
 datetime.datetime(2011, 1, 8, 0, 0),
 datetime.datetime(2011, 1, 10, 0, 0),
 datetime.datetime(2011, 1, 12, 0, 0)]

In [61]:
import pandas as pd
import numpy as np
ts = pd.Series(np.random.randn(6), index=dates)
ts

2011-01-02   -0.044442
2011-01-05    0.007125
2011-01-07    1.118445
2011-01-08    0.889121
2011-01-10    0.973117
2011-01-12   -0.478306
dtype: float64

In [77]:
longer_ts = pd.Series(np.random.randn(1000),index=pd.date_range('1/1/2000', periods=1000,freq='h'))
longer_ts

2000-01-01 00:00:00    1.004017
2000-01-01 01:00:00   -0.211783
2000-01-01 02:00:00   -0.263741
2000-01-01 03:00:00    2.358849
2000-01-01 04:00:00    1.125777
                         ...
2000-02-11 11:00:00    0.309366
2000-02-11 12:00:00   -0.630209
2000-02-11 13:00:00   -0.461060
2000-02-11 14:00:00   -0.154046
2000-02-11 15:00:00   -0.238057
Freq: h, Length: 1000, dtype: float64

In [78]:
resampler = longer_ts.resample('D').mean()
resampler

2000-01-01    0.126463
2000-01-02   -0.119858
2000-01-03   -0.070501
2000-01-04   -0.086311
2000-01-05    0.324826
2000-01-06   -0.392838
2000-01-07   -0.096705
2000-01-08    0.176688
2000-01-09   -0.065134
2000-01-10    0.205772
2000-01-11   -0.001989
2000-01-12   -0.135796
2000-01-13    0.062309
2000-01-14   -0.252231
2000-01-15    0.466958
2000-01-16    0.090237
2000-01-17    0.082880
2000-01-18   -0.052433
2000-01-19    0.297055
2000-01-20   -0.018150
2000-01-21    0.372418
2000-01-22    0.214818
2000-01-23    0.474783
2000-01-24   -0.195354
2000-01-25    0.026822
2000-01-26   -0.179569
2000-01-27   -0.289574
2000-01-28    0.082779
2000-01-29   -0.136796
2000-01-30   -0.338519
2000-01-31    0.185914
2000-02-01   -0.078685
2000-02-02   -0.049045
2000-02-03   -0.110535
2000-02-04    0.077773
2000-02-05   -0.135068
2000-02-06    0.032713
2000-02-07   -0.345070
2000-02-08    0.104909
2000-02-09    0.144925
2000-02-10   -0.030090
2000-02-11    0.383535
Freq: D, dtype: float64

In [81]:
longer_ts.iloc[:24].mean()

0.12646340094839767

In [82]:
import pandas_datareader.data  as web

In [91]:
year =1
end = datetime.datetime.today()
start = datetime.date(datetime.date.today().year - year, datetime.date.today().month, datetime.date.today().day)

In [94]:
sp500 = web.DataReader(['sp500'], 'fred', start, end)
sp500

              sp500
DATE
2024-05-30  5235.48
2024-05-31  5277.51
2024-06-03  5283.40
2024-06-04  5291.34
2024-06-05  5354.03
...             ...
2025-05-23  5802.82
2025-05-26      NaN
2025-05-27  5921.54
2025-05-28  5888.55
2025-05-29  5912.17

[261 rows x 1 columns]

In [95]:
sp500.shift(1)

              sp500
DATE
2024-05-30      NaN
2024-05-31  5235.48
2024-06-03  5277.51
2024-06-04  5283.40
2024-06-05  5291.34
...             ...
2025-05-23  5842.01
2025-05-26  5802.82
2025-05-27      NaN
2025-05-28  5921.54
2025-05-29  5888.55

[261 rows x 1 columns]