# Topic: print()

1) Using the python print function print any string value, integer value, boolean value, float value in single print command

In [5]:
print("Hello, World!", 42, True, 3.14)

Hello, World! 42 True 3.14

2) Using the python print function print hyphon(-) separated any string value, integer value, boolean value, float value in single print command

In [7]:
print("Hello, World!" + " - " + str(42) + " - " + str(True) + " - " + str(3.14))

Hello, World! - 42 - True - 3.14

3) Using the python print function print any string value, integer value, boolean value, float value in separate print command.
But every value must be space separated and in single line

In [9]:
print("Hello, World!", end=' ')
print(42, end=' ')
print(True, end=' ')
print(3.14)

Hello, World! 42 True 3.14

4) Can a python print function take no value to print???

Yes

# TOPIC :Variables in Python Operators

5) One of my friends name is Mr. Ahmed. He is 30 years old.  He is a lawer by profession. He has done his bachelors in law in the year 2005. He is working with a reputable law firm 'The Himalya Associates' in Karachi since 2015.
He is a handsome lawer with height of 5.10 feets and weight 70600g. His monthly income is Rs. 200k PKR.

Note: Create variables from above text and also assign values from the text.

In [5]:
friend_name = "Mr. Ahmed"
friend_age = 30
friend_profession = "Lawyer"
friend_bachelor_year = 2005
friend_workplace = "The Himalya Associates"
workplace_location = "Karachi"
work_start_year = 2015
friend_height_feet = 5.10
friend_weight_g = 70600
monthly_income_pkr = 200000

6)How many years has been to Mr. Ahmed after his bachelors degree? Create a variable that hold current year value and then subtract it from his passout year

In [11]:
current_year = 2025
years_since_bachelor = current_year - friend_bachelor_year
print("Years since Mr. Ahmed's bachelor's degree:", years_since_bachelor)

Years since Mr. Ahmed's bachelor's degree: 20

7) How many years has Mr. Ahmed been working with law firm 'The Himalya Associates'. Create necesary variables and print the correct number of years in working in the firm

In [19]:
print("Years Mr. Ahmed has been working at 'The Himalya Associates: ", current_year - work_start_year)

Years Mr. Ahmed has been working at 'The Himalya Associates:  10

8)Convert the monthly income of Mr. Ahmed in dollars.  Create necesary variables and print the income in dollars.

In [27]:
monthly_income_pkr = 200000
exchange_rate = 280
monthly_income_usd = monthly_income_pkr / exchange_rate
print("monthly income in dollars: ", (monthly_income_usd))

monthly income in dollars:  714.2857142857143

9) Check if the income in dollars is a float or integer value. if it is float, re-write the code so that income gets converted in integer. print the income in integer type value

In [31]:
print("monthly income in dollars: ", int(monthly_income_usd))

monthly income in dollars:  714

10) Print the type of Mr. Ahmed's weight. Convert the weight of Mr. Ahmed in kg so that weight must be a integer value.

In [33]:
#11) print the year of birth of Mr. Ahmed.

year of birth of mr.ahmed:  1995

In [35]:
#type your code here
current_year = 2025
friend_age = 30
year_of_birth = current_year - friend_age
print("year of birth of mr.ahmed: ", year_of_birth)

year of birth of mr.ahmed:  1995

12) Can Rs. 100 be divided equally among 6 students?
HINT: % operator (modulo)

In [3]:
10%2
# 10 is completely divisible by2
# 10 is multiple of 2
# 2 is a factor of 10
# 10 comes in table of 2

0

In [38]:
amount = 100

num_students = 6

if amount % num_students == 0:
    print("Yes, Rs. 100 can be divided equally among 6 students.")
else:
    print("No, Rs. 100 cannot be divided equally among 6 students.")

No, Rs. 100 cannot be divided equally among 6 students.